/*
CSS Module for Features component
*/

/*main section container*/
.sectionCont {
  background-color: var(--gray-300);
  padding: 10rem 2rem 1rem 2rem;
}

/*title*/
.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/*description*/
.description {
  color: var(--gray-500);
  line-height: 2;
  margin-bottom: 2rem;
}

/*card container*/
.cardCont {
  position: relative;
  margin: 5rem 0 6rem 0;
  z-index: 1;
}

.title,
.description {
  text-align: center;
}

/*features cards container*/
.featuresCont {
  position: relative;
}

/*line connecting all the features cards*/
.line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 90%;
  width: 10px;
  background-color: var(--blue-400);
  z-index: 0;
}

@media (min-width: 48rem /*768px*/) {
  /*main section container*/
  .sectionCont {
    padding: 8rem 4rem 1rem 4rem;
  }

  /*card container*/
  .cardCont {
    width: 70%;
    margin: 5rem auto 6rem auto;
  }
}

@media (min-width: 62.5rem /*1000px*/) {
  /*main section container*/
  .sectionCont {
    padding: 10rem 8rem 1rem 8rem;
  }

  /*title*/
  .title {
    font-size: 2rem;
  }

  /*description*/
  .description {
    max-width: 31.25rem; /*500px*/
    margin: auto;
  }

  /*features cards container*/
  .featuresCont {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 5rem 0 6rem 0;
  }

  /*card container*/
  .cardCont {
    width: unset;
    margin: 0;
    flex: 1;
  }

  /*feature card container: detailed records*/
  .recordsCont {
    margin-top: 2rem;
  }

  /*feature card container: fully customizable*/
  .customizableCont {
    margin-top: 4rem;
  }

  /*line connecting all the features cards*/
  .line {
    top: 50%;
    width: 90%;
    height: 10px;
  }
}
