/*
CSS Module for Start component
*/

/*main section background*/
.sectionCont {
  background-image: url("/shortly/images/background/bg-boost-mobile.svg");
  background-color: var(--purple-950);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.5rem 2rem 4rem 2rem;
}

/*title*/
.title {
  font-size: 1.7rem;
  color: var(--neutral-0);
  text-align: center;
  margin-bottom: 2rem;
}

/*get started link container*/
.getStartedCont {
  font-size: 1.2rem;
  max-width: 12.5rem; /*200px*/
  margin: 0 auto 1.5rem auto;
}

@media (min-width: 62.5rem /*1000px*/) {
  /*main section background*/
  .sectionCont {
    background-image: url("/shortly/images/background/bg-boost-desktop.svg");
    padding: 5rem 0 4rem 0;
  }

  /*title*/
  .title {
    font-size: 2rem;
  }
}
