/*
CSS Module for MobileNav component
*/

/*mobile navigation container*/
.mobileNavCont {
  background-color: var(--purple-950);
  color: var(--neutral-0);
  border-radius: 10px;
  padding: 2rem;
  margin-top: 2rem;
}

/*list items*/
.item {
  margin: 1.2rem 0;
}

/*navigation links*/
.navLink {
  font-size: 1.2rem;
  font-weight: bold;
}

.navLink:hover {
  color: var(--blue-300);
}

/*navigation divider line*/
.dividerLine {
  width: 100%;
  background-color: var(--gray-400);
  border: none;
  height: 1px;
}

/*user authentication container*/
.authCont {
  width: 100%;
}

/*PillLink component container*/
.signUpCont {
  width: 100%;
}

@media (min-width: 62.5rem /*1000px*/) {
  /*mobile navigation container*/
  .mobileNavCont {
    display: none;
  }
}
