/*
CSS Module for UrlCard component
*/

/*URL card container*/
.urlCardCont {
  background-color: var(--neutral-0);
  border-radius: 10px;
  margin-bottom: 1rem;
}

/*URL text container*/
.urlCont {
  padding: 1rem;
}

/*line divider*/
.dividerLine {
  border: 1px solid var(--gray-300);
}

/*Copy button container*/
.btnCont {
  padding: 0 1rem 1rem;
}

/*original URL*/
.original {
  color: var(--gray-900);
}

/*short URL*/
.short {
  color: var(--blue-400);
}

.original,
.short {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*URL card error*/
.urlCardCont.error {
  border: 1px solid var(--red-400);
  text-align: center;
  padding: 1rem;
}

/*error message text*/
.msg {
  margin: 0.5rem 0;
}

@media (min-width: 62.5rem /*1000px*/) {
  /*URL card container*/
  .urlCardCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0.5rem 1rem;
  }

  /*line divider*/
  .dividerLine {
    display: none;
  }

  /*original URL*/
  .original {
    max-width: 18.75rem; /*300px*/
  }

  /*short URL and copy button container*/
  .shortBtnCont {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  /*Copy button container*/
  .btnCont {
    padding: unset;
  }

  /*URL card error*/
  .urlCardCont.error {
    flex-direction: column;
    justify-content: center;
  }

  /*Original URL for error card*/
  .urlCardCont.error .original {
    margin: auto;
  }
}

@media (min-width: 87.5rem /*1400px*/) {
  /*URL card container*/
  .urlCardCont {
    background-color: var(--neutral-0);
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  /*URL text container*/
  .urlCont {
    font-size: unset;
  }

  /*original URL*/
  .original {
    max-width: unset;
  }

  /*URL card error*/
  .urlCardCont.error {
    flex-direction: row;
    justify-content: space-between;
  }

  /*error message container*/
  .errorMsgCont {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  /*error message text*/
  .msg {
    margin: unset;
  }
}
