/*
CSS Module for Card component
*/

/*main container*/
.cardCont {
  background-color: var(--neutral-0);
  border-radius: 5px;
  padding: 0 1.5rem 1.5rem;
}

.cardCont:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

/*icon container*/
.iconCont {
  background-color: var(--purple-950);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: -2.5rem 0 1.5rem 0;
}

/*card title*/
.title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.title,
.description {
  text-align: center;
}

@media (min-width: 62.5rem /*1000px*/) {
  /*main container*/
  .cardCont {
    padding: 0 2.5rem 2.5rem;
    min-height: 15.87rem; /*254px*/
  }

  /*icon container*/
  .iconCont {
    margin: -2.5rem auto 1.5rem 0;
  }

  .title,
  .description {
    text-align: left;
    align-self: flex-start;
  }
}
